<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Brain Tumor Prediction</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Brain Tumor Prediction</h1>
      <form method="POST" enctype="multipart/form-data">
        <!-- Add a hidden input field to hold the selected file -->
        <input type="file" name="file" id="fileInput" style="display: none" />
        <button type="button" class="btn btn-primary" onclick="selectFile()">
          Select File
        </button>
        <button type="submit" class="btn btn-primary">Predict</button>
      </form>
      {% if result %}
      <div class="mt-4">
        <h3>Prediction Result:</h3>
        <p>Class: {{ result[0] }}</p>
        <p>Percentage: {{ result[1] }}%</p>
        <img src="{{ result[2] }}" class="img-fluid" alt="MRI Image" />
      </div>
      {% endif %}
    </div>
    <!-- JavaScript to trigger file input click -->
    <script>
      function selectFile() {
        document.getElementById("fileInput").click();
      }
    </script>
  </body>
</html>
