<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Tumor App</title>
  </head>
  <body style="background: linear-gradient(180deg, #0a8747 0%, #007f3e 100%)">
    <div class="container">
      <h1>Brain Tumor Prediction Application</h1>
      <div class="content">
        <p>
          This web application uses a machine learning model to predict brain
          tumors from MRI images. It provides a quick and convenient way to
          assist medical professionals in diagnosing brain tumors.
        </p>
      </div>
      <div class="content"  style="text-align: left;">
        <p>
            To make a prediction, follow these steps:
            <ol>
                <li>Select an MRI image of the brain (in .jpg, .jpeg, or .png format).</li>
                <li>Click the "Upload & Predict" button to submit the image.</li>
                <li>Wait for the prediction results to be displayed.</li>
            </ol>
        </p>
    </div>
      <form action="/predict" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" />
        <button type="submit">Upload & Predict</button>
      </form>
      <div id="result" style="display: none">
        <h2>Analysis Result</h2>
        <p id="analysis_result"></p>
        <h2>Match Percentage</h2>
        <p id="match_percentage"></p>
        <button id="reset-button" type="button">Reset</button>
      </div>
      <div id="loading" style="display: none;">
        <p>Loading...</p>
        <div class="loader"></div>
      </div>
    </div>
    <script>
      document.querySelector("form").addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);

        // Show loading indicator
        document.getElementById('loading').style.display = 'block';

        const response = await fetch("/predict", {
          method: "POST",
          body: formData,
        });

        // Hide loading indicator
        document.getElementById('loading').style.display = 'none';

        const data = await response.json();
        const analysisResultElement = document.getElementById('analysis_result');
        analysisResultElement.textContent = data.analysis_result;

        // Toggle text color based on condition
        if (data.analysis_result === 'Tumor Detected') {
            analysisResultElement.style.color = 'red';
        } else {
            analysisResultElement.style.color = 'green';
        }
        document.getElementById(
          "match_percentage"
        ).textContent = `${data.match_percentage}%`;
        document.getElementById("result").style.display = "block";
      });

      // Reset button click handler
      document.getElementById('reset-button').addEventListener('click', () => {
        document.getElementById('result').style.display = 'none';
        document.querySelector('form').reset();
      });
    </script>
  </body>
</html>
